<!--carform.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
{{ if .message }}
<div class="error">
Error message received:  {{ .messages }}
</div>
{{ end }}
<form  action="/formcars" method="POST">
    <div align="right">   
        Vendor:<input type="text" name="vensel">Model: <input type="text" name="modsel"> Color: <input type="text" name="colsel"><input type="submit" name="oper" value="SELECT">
    </div><hr>
    <table table-layout: fixed;>
      <colgroup>
        <col class="ten" />
        <col class="thirty" />
        <col class="thirty" />
        <col class="twenty" />
        <col class="ten" />
      </colgroup>
      <thead>
        <tr>
          <th style="width: 100px;">Référence</th>  
          <th style="width: 280px;">Vendor</th>
          <th style="width: 280px;">Model</th>
          <th style="width: 120px;">Color</th>
          <th style="width: 50px ;">Select</th>
        </tr>
      </thead> 
      <tbody >
      {{range .payload.Vehicules }}
        <tr>
          <td style="width: 100px;">{{.Isn}}</td> 
          <td style="width: 280px;">{{.Vendor}}</td>
          <td style="width: 280px;">{{.Model}}</td>
          <td style="width: 120px;">{{.Color}}</td>
          <td style="width: 50px; align-content: center;"><input type="radio" name="selection" value="{{.Isn}}-{{.Vendor}}-{{.Model}}-{{.Color}}"></td>
        </tr>
      {{end}}
      </tbody>
    </table>
    </div>
    <hr>
    
    <div align="left">
    <input type="submit" name="oper" value="ADD"><input type="submit" name="oper" value="UPD"><input type="submit" name="oper" value="DELETE">
    </div>
</form>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}